################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
/MailTrackDesktop/bin/Debug
/MailTrackDesktop/obj/Debug
/MailTrackREST/obj
/MailTrackWeb/bin
/MailTrackREST/bin/Debug/netcoreapp2.0
/.vs/config
/MailTrackWeb/obj/Debug
/Mail.Common/obj
/Mail.Common.Net/obj/Debug
/MailTrackWebApp/bin
/packages
